@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Roboto+Mono&display=swap");

body {
  font-family: "Cairo", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.section-landing {
    height: 100vh;
}

.logo {
  border: orange 4px solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.navbar-toggler:hover {
  color: orangered;
  background-color: orange;
}

a.nav-link {
  text-align: center;
}

.main-logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: orange 5px solid;
}

.pic1 {
  margin-top: 8rem;
}

.text {
  margin-top: 10px;
  text-align: center;
}

.join {
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: orange 4px solid;
}

.join:hover {
  background-color: orange;
  color: white;
}

.blink {
  color: white;
  background-color: orange;
  border: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-top: 10rem;
  margin-bottom: 5rem;
  animation: blinker 0.8s linear infinite;
  color: white;
}
.blink2 {
    color: white;
    background-color: orange;
    border: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-top: 1rem;
    animation: blinker 0.8s linear infinite;
    color: white;

}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.title-1 {
    margin: 30px;
  text-align: center;
}

.checkout-btn {
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: orange 4px solid;
  margin-left: 80%;
}

.checkout-btn:hover {
  background-color: orange;
  color: white;
}

@media only screen and (max-width: 580px) {
    .blink {
        margin-bottom: 100px;
    }
  .title-1 {
    margin-top: 60px;
  }
  .checkout-btn {
    margin-left: 30px;
    text-align: center;
  }
  .details {
    display: flex;
    flex-direction: column;
}
}

@media only screen and (max-width: 768px) {
  .container-check {
    justify-content: center !important;
  }
}

.section-products {
  height: 100vh;
}

.check-head {
  margin-top: 20px;
  border: 3px black solid;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  padding: 5px;
  margin-right: 5px;
}

.checkout-box {
  background-color: lightgrey;
  padding: 5px;
  height: 20rem;
  width: fit-content;
  margin-top: 20px;
}

.container-check {
    display: grid;
    justify-content: end;
}

.dis-items {
  padding: 5px;
  margin: 5px;
}

.buy-items {
  border-radius: 10px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
}

.buy-items:hover {
  background-color: orange;
}
.title1 {
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: underline orange ;

}
.admin-title2 {
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: underline orange ;
}
.btn-group {
    display: grid;
    justify-content: end;
    padding: 5px;
    margin: 5px;
}

.adding {
    padding: 10px;
    width: 5rem;
    margin: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;

}
.sorting {
    padding: 10px;
    width: 5rem;
    margin: 10px;
    border: 2px black solid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin-left: 0%;

}
.display-show {
    margin: 10px;
    padding: 10px;
}
.adding:hover {
    background-color: orange;
}

.sorting:hover {
    background-color: orange;
}

.profile {
    width: 18rem;
    height: 18rem;
    border: 5px orange solid;
    border-radius: 50%;
    margin-top: 30px;
    
}

.com-text {
    text-align: center;

}

.contact-btn {
    display: flex;
    justify-content: center;
    margin: 20px;
}

::placeholder {
    color: rgb(0, 0, 0);
}
input, textarea {
    caret-color: orange;
}

.offcanvas-body {
    margin-top: 20px;
}

.prodpic {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
  border-radius: 10px;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
}
